@import url(https://fonts.googleapis.com/css?family=Lato:300,400);

@media (min-width: 1008px) {
    .container {
        width: 976px;
        margin-left: auto;
        margin-right: auto;
        padding-left: 0;
        padding-right: 0;
    }
}
@media (min-width: 768px) and (max-width: 1007px) {
    .container {
        margin-left: 3px;
        margin-right: 3px;
        width: 100%;
    }
    .big-story {
        height: 300px;
    }
}
@media (max-width: 767px) {
    .container {
        /*width: 750px;*/
        margin-left: 1px;
        margin-right: 1px;
        width: 90%;
        padding-left: 5px;
        padding-right: 5px;
    }
    .main-content, .main-content div {
        padding: 0
    }
}

html, body {
    overflow-x: hidden;
}

h4 {
    font-weight: bold;
}

.TimeAndLink a {
    color: darkred;
}

.TimeAndLink a:hover {
    color: #006699;
    text-decoration: none;
}

.HeadlineLink a {
    color: black;
}

.HeadlineLink a:hover {
    color: #006699;
    text-decoration: none;
}
.HeadlineLink a:visited {
    color: dimgray;
}

#timeago {
    color: gray
}

.main-content, .main-content div {
    padding: 0
}

.big-story {
    border-bottom: 1px gray solid;
    height: 370px
}

.medium-story {
    border-right: 1px gray solid;
}

.small-story {
    border-bottom: 1px gray solid;
    padding: 20px
}

.big-story div img {
    height: 350px;
}

.medium-story img {
    height:150px
}

.white-header {
}

.white-header span {
    line-height: 40px;
    font-family: 'Lato', sans-serif;
    font-size: 25px;
    background-color: black;
    color: white;
    border-right: 3px solid white;
    padding-right: 8px;
    padding-left: 8px;
    font-weight: 300;
}

.red-header {
    background-color: #BB1919;
    margin: 0 -9999rem;
    /* add back negative margin value */
    padding: 0.25rem 9999rem;
}

.red-header h1 {
    margin-top: 5px;
    margin-bottom: 5px;
    color: white;
    font-family: 'Lato', sans-serif;
    font-size: 40px;
    font-weight: 300;
}
